.home {
  background-color: #aaa;
  height: 800px;
  perspective: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn{
  position: absolute;
  top: 20px;

}
.buttons{
  position: fixed;
  left: 10px;
  right: 20px;
  top: 20px;
}

.cube {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 50vw;
  position: relative;
  transform-style: preserve-3d;
  transform:rotateY(30deg);
  transition:1s;

  :global {
    .side {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: solid red 1px;
      font-size: 44px;
      background-color: rgb(126, 196, 116);
      height: 100%;
      width: 100%;
      position: absolute;
      &1{transform:translateZ(150px) }
      &2{transform:rotateX(-90deg) translateZ(150px) }
      &6{transform:rotateY(90deg) translateZ(150px) }
      &4{transform:rotateX(90deg) translateZ(150px) }
      &5{transform:rotateY(-90deg) translateZ(150px) }
      &3{transform:rotateY(180deg) rotateZ(180deg) translateZ(150px) }
    }
  }
}